{% extends base_template %}
{%load static%}

{% block extra_css %}
<link rel="stylesheet" href="{%static 'css/donor_requests.css'%}">
<link rel="stylesheet" href="{%static 'css/message.css'%}">
{% endblock %}

{% block content %}
<div class="messagesbox">
    {% if messages %}
        <div class="messages">
            {% for message in messages|dictsortreversed:"level" %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    <h1>{{ message }}</h1>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% if user.is_authenticated and user.role == 'PATIENT' %}
<div class="container" style="padding:0 10px 0 10px">
    <h2>My Blood Requests</h2>
    <table class="fancy-table" >
        <thead>
            <tr>
                <th>🩸 Blood Group</th>
                <th>👤 Requested To</th>
                <th>📌 Status</th>
                <th>📅 Date</th>
            </tr>
        </thead>
        <tbody>
            {% for req in requests %}
            <tr>
                <td>{{ req.blood_group }}</td>
                <td>
                    {% if req.donor %}
                    Donor: {{ req.donor.user.username }}
                    {% elif req.bloodbank %}
                    BloodBank: {{ req.bloodbank.bloodbank_name }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    {% if req.status == "pending" %}
                    <span class="badge-status badge-pending">{{ req.status|capfirst }}</span>
                    {% elif req.status == "approved" %}
                    <span class="badge-status badge-approved">{{ req.status|capfirst }}</span>
                    {% elif req.status == "rejected" %}
                    <span class="badge-status badge-rejected">{{ req.status|capfirst }}</span>
                    {% else %}
                    {{ req.status|capfirst }}
                    {% endif %}
                </td>
                <td>{{ req.created_at|date:"d M Y H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No requests yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% else %}
  <div class="container mt-5 text-center">
    <h1 class="text-danger">⚠️ Login as Patient</h1>
  </div>
{% endif %}

{% endblock %}