{%extends 'homepage.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{%static 'css/search_bloodbanks.css'%}">
{% endblock %}

{% block content %}
<div class="request-page">

    <h2>🔍 Search Blood Banks</h2>


    <form method="get" class="form-inline mb-3">
        <div class="input">
            {{ form.location }}
            {{ form.blood_group }}
        </div>

        <button type="submit">Search</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Available Units</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for bloodbank in bloodbanks %}
            <tr>
                <td>{{ bloodbank.bloodbank_name }}</td>
                <td>{{ bloodbank.address }}</td>
                <td>{{ bloodbank.mobile_number }}</td>
                <td>
                    {% with searched_group=request.session.searched_blood_group %}
                    {% for inv in bloodbank.inventory.all %}
                    {% if inv.blood_group == searched_group %}
                    {{ inv.units_available }}
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </td>
                <td>
                    {% if user.is_authenticated and user.role == 'PATIENT' %}
                    <form method="post" action="{% url 'patients:send-request' %}">
                        {% csrf_token %}
                        <input type="hidden" name="bloodbank_id" value="{{ bloodbank.id }}">
                        <input type="hidden" name="blood_group" value="{{ request.session.searched_blood_group }}">
                        <button type="submit" class="btn btn-success">Request</button>
                    </form>
                    {% else %}
                    <a href="{% url 'accounts:login' role='patient' %}" class="btn btn-primary">Login to Request</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align:center;">❌ No blood banks found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}