{% extends base_template %}
{%load static%}

{%block extra_css%}
<link rel="stylesheet" href="{%static 'css/donor_requests.css' %}">
<link rel="stylesheet" href="{%static 'css/message.css'%}">
{%endblock%}

{% block content %}
<div class="messagesbox">
    {% if messages %}
        <div class="messages">
            {% for message in messages|dictsortreversed:"level" %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    <h1>{{ message }}</h1>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% if user.is_authenticated %}
    {% if user.role == "BLOODBANK" or user.role == "STAFF"%}
      <h2>Blood Requests for You</h2>

      {% if requests %}
        <table class="fancy-table">
          <thead>
            <tr>
              <th>Patient</th>
              <th>Blood Group</th>
              <th>Status</th>
              <th>Requested At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for req in requests %}
              <tr>
                <td>{{ req.patient.patientprofile.first_name }} {{ req.patient.patientprofile.last_name }} </td>
                <td>{{ req.blood_group }}</td>
                <td>{{ req.status|title }}</td>
                <td>{{ req.created_at|date:"d M Y, H:i" }}</td>
                <td>
                  
                  {% if req.status == "pending" %}
                    <form method="post"  action="{% url 'bloodbanks:bloodbank_request_action' req.id 'accept' %}" >
                      {% csrf_token %}
                      <button type="submit" class="accept btn btn-md">Accept</button>
                    </form>
                    <form method="post"  action="{% url 'bloodbanks:bloodbank_request_action' req.id 'decline' %}" >
                      {% csrf_token %}
                      <button type="submit" class="decline btn btn-md">Decline</button>
                    </form>
                  {% elif req.status == "accepted" %}
                     {% if req.accepted_by.role == "STAFF" %}
                          Accepted By: {{ req.accepted_by.first_name }} {{ req.accepted_by.last_name }}
                      {% elif req.accepted_by.role == "BLOODBANK" %}
                          Accepted By: {{ req.accepted_by.bloodbankprofile.bloodbank_name }}
                      {% else %}
                          Accepted By: {{ req.accepted_by.username }}
                      {% endif %}
                  {%else%}
                    {% if req.decline_by.role == "STAFF" %}
                        Declined By: {{ req.decline_by.staffprofile.first_name }} {{ req.decline_by.staffprofile.last_name }}
                    {% elif req.decline_by.role == "BLOODBANK" %}
                        Declined By: {{ req.decline_by.bloodbankprofile.bloodbank_name }}
                    {% else %}
                        Declined By: {{ req.decline_by.username }}
                    {% endif %}
                  {% endif %}
                </td>
              </tr> 
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No blood requests yet.</p>
      {% endif %}

    {% else %}
        <div class="container mt-5 text-center">
            <h1 class="text-danger">⚠️ Login as BLOODBANK or STAFF</h1>
        </div>
    {% endif %}
{% else %}
    <div class="container mt-5 text-center">
        <h1 class="text-danger">⚠️ Login as BLOODBANK or STAFF</h1>
    </div>
{% endif %}

{% endblock %}
